/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  .p-card {
    max-width: 50%;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
  }
    .p-fluid {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    .field {
      display: flex;
      flex-direction: column;
    }
    
  .control-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .control {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-size: 14px;
    color: #555;
  }
  .mt-3 {
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-center a {
    color: #007bff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
   */