<app-header></app-header>

<router-outlet></router-outlet>

@if (foods.length) {
<p-splitter
  class="centered-splitter"
  [style]="{ height: '100%', width: '100%' }"
>
  <ng-template pTemplate>
    <app-food-list 
      [foods]="foods"
      (foodSelected)="onFoodSelected($event)"
      (foodDeleted)="onFoodDeleted($event)"
    ></app-food-list>
  </ng-template>
  <ng-template pTemplate>
    <div style="width: 100%; height: 100%">
      @if (selectedFood) {
        <app-food-details 
          [food]="selectedFood"
          (foodDeleted)="onFoodDeleted($event)"
        ></app-food-details>
      } @else {
        <p-messages 
          [(value)]="messages"
          [enableService]="false"
          [closable]="false"
          styleClass="custom-message">
        </p-messages>
      }
    </div>
  </ng-template>
</p-splitter>
} @else {
  <app-no-food></app-no-food>
}
<button
  class="fab"
  (click)="onFabClick()"
  pTooltip="Click to add your new favorite food"
  tooltipPosition="left"
  showDelay="1000" 
  hideDelay="300" 
>
  <i class="pi pi-plus"></i>
</button>